<style>
  .search-btn{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
   border-radius: 25px;
   padding: 0.5rem 3rem 0.5rem 3rem;
   font-size: 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler"
       type="button"
       data-bs-toggle="collapse"
       data-bs-target="#navbarNavAltMarkup"
       >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <b><a class="nav-link" href="/listings">Explore</a></b>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input 
               class="form-control me-2 search-inp" 
               type="search" 
               placeholder="Search destinations" 
               id="searchInput"
              
            />
            <button class="btn search-btn" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <b><a class="nav-link" href="/listings/new">Add new Listing</a></b>
          <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>signup</b></a>
          <a class="nav-link" href="/login"><b>login</b></a>
          <% } %>

          <li class="nav-item dropdown">
            <% if (currUser) { %>
                
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <b><%= currUser.username %></b>
                </a>
        
              
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            <% } %>
        </li>
        
         
        </div>
      </div>
    </div>
  </nav>
  <script>
    function handleSearch(event) {
      event.preventDefault(); // Prevent default form submission
  
      // Get the value entered in the search box
      const searchTerm = document.getElementById('searchInput').value;
  
      // Redirect to the listings page with the search term as a query parameter
      if (searchTerm) {
        window.location.href = `/listings?search=${encodeURIComponent(searchTerm)}`;
      } else {
        window.location.href = `/listings`; // If no search term, redirect to the general listings page
      }
    }
  </script>